@using Humanizer
@using System.Globalization
@using SchulCloud.Web.Extensions

<div class="d-flex justify-content-between align-items-center flex-fill">
    <div class="d-flex align-items-center">
        @if (!string.IsNullOrWhiteSpace(IconName))
        {
            <FontsIcon Name="@IconName" />
        }
        <span class="ms-3">@Title</span>

        @if (Enabled is true)
        {
            <Badge Class="ms-2" Color="BadgeColor.Success">@Localizer["enabled"]</Badge>
        }
        else if (Enabled is false)
        {
            <Badge Class="ms-2" Color="BadgeColor.Danger">@Localizer["disabled"]</Badge>
        }

        @AdditionalBadges
    </div>

    <span class="mx-2">
        @if (LastTimeUsed is null)
        {
            @Localizer["usedLast", LastTimeUsed.Humanize()]
        }
        else
        {
            string value = (DateTime.UtcNow - LastTimeUsed).Value.Days <= 7
                ? LastTimeUsed.Humanize()
                : LastTimeUsed.Value.ToDisplayedString();
            @Localizer["usedLast", value]
        }
    </span>
</div>