@implements IAsyncDisposable

<Modal @ref="Modal" Title="@Localizer["modalTitle"]" HeaderCssClass="bg-body text-light-emphasis" ShowCloseButton="false" UseStaticBackdrop>
    <BodyTemplate>
        <EditForm EditContext="_editContext">
            <BsFieldCssProvider />

            <EditFormValidator For="() => Model.CurrentPassword" ValidateAsync="ValidateCurrentPasswordAsync" />
            <FloatingPasswordInput Class="mb-3" @bind-Value="Model.CurrentPassword" FloatingLabel="@Localizer["currentPassword_Placeholder"]" Placeholder="password" autocomplete="current-password" required />

            <EditFormValidator For="() => Model.NewPassword" ValidateAsync="ValidateNewPasswordAsync" />
            <FloatingPasswordInput Class="mb-3" @bind-Value="Model.NewPassword" FloatingLabel="@Localizer["newPassword_Placeholder"]" Placeholder="newPassword" autocomplete="new-password" required />

            <EditFormValidator For="() => Model.ConfirmedPassword" ValidateAsync="ValidateConfirmedPasswordAsync" />
            <FloatingPasswordInput @bind-Value="Model.ConfirmedPassword" FloatingLabel="@Localizer["confirmedPassword_Placeholder"]" Placeholder="newPassword" autocomplete="off" required />
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="CloseModal_ClickAsync">@Localizer["abort"]</Button>
        <Button Color="ButtonColor.Primary" @onclick="ChangePassword_ClickAsync">@Localizer["submit"]</Button>
    </FooterTemplate>
</Modal>