<MudDialog ContentStyle="width:350px;">
    <DialogContent>
        @if (!string.IsNullOrWhiteSpace(Message))
        {
            <div class="mb-3">@Message</div>
        }

        <MudForm @ref="_renameForm">
            <MudTextField @bind-Value="_newName" Label="@Localizer["form_NewName"]" Placeholder="@OldName"
                          Validation="@((string value) => RenameFormNewName_Validate(value))" RequiredError="@Localizer["form_NotEmpty"]" Required />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Class="mr-2" OnClick="Cancel_Click">@Localizer["cancelBtn"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="Rename_ClickAsync" Variant="Variant.Filled">@Localizer["renameBtn"]</MudButton>
    </DialogActions>
</MudDialog>