@inherits FloatingInputBase<string>

<div class="form-floating">
    <input type="text" class="form-control @GetValidationClass() @Class" id="@Id" @bind="Value" placeholder="@Placeholder" @attributes="AdditionalAttributes" />
    <label for="@Id">@FloatingLabel</label>
</div>

@code {
}
