@inherits FloatingTextInput

<div class="input-group has-validation @OuterClass.Trim()">
    <div class="form-floating@(GetValidationClass())">
        @{
            string inputType = IsPasswordVisible ? "text" : "password";
        }
        <input type="@inputType" class="form-control rounded-end-0@(GetValidationClass()) @Class.Trim()" id="@Id" @bind="Value" placeholder="@Placeholder" @attributes="AdditionalAttributes" />
        <label for="@Id">@FloatingLabel</label>
    </div>

    <span class="input-group-text p-0">
        <Button Class="d-flex align-items-center" @onclick="ChangePasswordVisibility_Click">
            @{
                string iconName = IsPasswordVisible ? "visibility" : "visibility_off";
            }
            <FontsIcon Name="@iconName" />
        </Button>
    </span>

    @if (UseEditForm)
    {
        <EditFormValidationFeedback For="@For" />
    }
</div>

@code {
    /// <summary>
    /// Indicates whether the password is visible.
    /// </summary>
    [Parameter]
    public bool IsPasswordVisible { get; set; }

    private void ChangePasswordVisibility_Click()
    {
        IsPasswordVisible = !IsPasswordVisible;
    }
}
