<SchulCloudPageTitle Title="@Localizer["title"]" />

<div class="mx-4 mt-4">
    <EditForm EditContext="_editContext">
        <BsFieldCssProvider />

        <EditFormValidator For="() => Model.CurrentPassword" ValidateAsync="ValidateCurrentPasswordAsync" />
        <FloatingPasswordInput Class="mb-3" @bind-Value="Model.CurrentPassword" FloatingLabel="@Localizer["currentPassword_Placeholder"]" Placeholder="password" autocomplete="current-password" required />

        <EditFormValidator For="() => Model.NewPassword" ValidateAsync="ValidateNewPasswordAsync" />
        <FloatingPasswordInput Class="mb-3" @bind-Value="Model.NewPassword" FloatingLabel="@Localizer["newPassword_Placeholder"]" Placeholder="newPassword" autocomplete="new-password" required />

        <EditFormValidator For="() => Model.ConfirmedPassword" ValidateAsync="ValidateConfirmedPasswordAsync" />
        <FloatingPasswordInput @bind-Value="Model.ConfirmedPassword" FloatingLabel="@Localizer["confirmedPassword_Placeholder"]" Placeholder="newPassword" autocomplete="new-password" required />

        <div class="d-flex flex-column mt-3">
            <Button Color="ButtonColor.Primary" Type="ButtonType.Submit" @onclick="ChangePassword_ClickAsync">@Localizer["submit"]</Button>
            <Button Class="mt-2" Color="ButtonColor.Secondary" Type="ButtonType.Link" To="@Routes.SecurityIndex()">@Localizer["abort"]</Button>
        </div>
    </EditForm>
</div>