@using Humanizer
@using Microsoft.AspNetCore.Identity
@using SchulCloud.Web.Extensions

<SchulCloudPageTitle Title="@Localizer["title"]" />

<div class="d-flex flex-column mt-3">
    <h3 class="text-center">@Localizer["tabHeader"]</h3>

    <div class="mt-4 mx-3 d-flex flex-column justify-content-center">
        <Tabs Class="justify-content-center" EnableFadeEffect>
            <Tab Title="@Localizer["tabSignIn"]">
                <Content>

                    <h5 class="mt-4">@Localizer["signInMethods"]</h5>
                    <Accordion>
                        <AccordionItem>
                            <TitleTemplate>
                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                    <div class="d-flex align-items-center">
                                        <FontsIcon Name="password" />
                                        <span class="ms-3">@Localizer["signIn_Password"]</span>
                                    </div>

                                    @{
                                        DateTimeOffset lastSignIn = DateTimeOffset.Now.AddHours(-1);     @* This value is only a placeholder for the further implementation. *@
                                    }
                                    <span class="mx-2">@Localizer["signIn_Last", lastSignIn.Humanize()]</span>
                                </div>
                            </TitleTemplate>
                            <Content>
                                @{
                                    string? ShowWhenTrue(bool condition, Func<IdentityError> errorProvider)
                                    {
                                        if (condition)
                                        {
                                            @errorProvider().Description
                                        }
                                        return null;
                                    }

                                    PasswordOptions options = PasswordOptionsAccessor.Value;
                                }

                                <p>@Localizer["password_Desc"]</p>
                                <p class="lh-base">
                                    @ErrorDescriber.PasswordTooShort(options.RequiredLength).Description<br />
                                    @ErrorDescriber.PasswordRequiresUniqueChars(options.RequiredUniqueChars).Description<br />
                                    @ShowWhenTrue(options.RequireNonAlphanumeric, ErrorDescriber.PasswordRequiresNonAlphanumeric)<br />
                                    @ShowWhenTrue(options.RequireLowercase, ErrorDescriber.PasswordRequiresLower)<br />
                                    @ShowWhenTrue(options.RequireUppercase, ErrorDescriber.PasswordRequiresUpper)<br />
                                    @ShowWhenTrue(options.RequireDigit, ErrorDescriber.PasswordRequiresDigit)
                                </p>

                                <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="@Routes.ChangePassword()">@Localizer["password_Change"]</Button>
                                <Button Class="ms-2" Color="ButtonColor.Danger" Type="ButtonType.Link" To="@Routes.ResetPassword(returnUrl: NavigationManager.GetRelativeUri())">@Localizer["password_Reset"]</Button>
                            </Content>
                        </AccordionItem>
                    </Accordion>

                    <h5 class="mt-5">@Localizer["mfaMethods"]</h5>
                    <p class="mt-2">@Localizer["mfa_Desc"]</p>
                    <Accordion>
                        <AccordionItem>
                            <TitleTemplate>
                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                    <div class="d-flex align-items-center">
                                        <FontsIcon Name="qr_code_scanner" />
                                        <span class="ms-3">@Localizer["mfa_Authenticator"]</span>
                                    </div>

                                    @{
                                        DateTimeOffset lastSignIn = DateTimeOffset.Now.AddHours(-1);     @* This value is only a placeholder for the further implementation. *@
                                    }
                                    <span class="mx-2">@Localizer["signIn_Last", lastSignIn.Humanize()]</span>
                                </div>
                            </TitleTemplate>
                            <Content>
                                <p>@Localizer["authenticator_Desc"]</p>

                                @if (!_mfaEnabled)
                                {
                                    <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="@Routes.ActivateAuthenticator()">@Localizer["authenticator_Activate"]</Button>
                                }
                                else
                                {
                                    <Button Color="ButtonColor.Danger" @onclick="@(async () => await AuthenticatorDeactivateModal!.ShowAsync())">@Localizer["authenticator_Deactivate"]</Button>
                                    <Modal @ref="AuthenticatorDeactivateModal" Title="@Localizer["authenticator_Deactivate"]" Message="@Localizer["authenticator_DeactivateModal_Message"]">
                                        <FooterTemplate>
                                            <Button Color="ButtonColor.Secondary" @onclick="@(async () => await AuthenticatorDeactivateModal!.HideAsync())">@Localizer["authenticator_DeactivateModal_AbortBtn"]</Button>
                                            <Button Color="ButtonColor.Danger" @onclick="AuthenticatorDeactivate_ClickAsync">@Localizer["authenticator_DeactivateModal_ExecuteBtn"]</Button>
                                        </FooterTemplate>
                                    </Modal>
                                }
                            </Content>
                        </AccordionItem>
                        <AccordionItem>
                            <TitleTemplate>
                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                    <div class="d-flex align-items-center">
                                        <FontsIcon Name="pin" />
                                        <span class="ms-3">@Localizer["mfa_Recovery"]</span>
                                    </div>

                                    @{
                                        DateTimeOffset lastSignIn = DateTimeOffset.Now.AddHours(-1);     @* This value is only a placeholder for the further implementation. *@
                                    }
                                    <span class="mx-2">@Localizer["signIn_Last", lastSignIn.Humanize()]</span>
                                </div>
                            </TitleTemplate>
                            <Content>
                                <p>@Localizer["recovery_Desc"]</p>

                                @if (_remainingRecoveryCodes > 0)
                                {
                                    <p>@Localizer["recovery_ValidCodes", _remainingRecoveryCodes]</p>
                                }

                                @{
                                    string btnLabelKey = _remainingRecoveryCodes == 0
                                        ? "recovery_GenerateNew"
                                        : "recovery_Renew";
                                }
                                <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="@Routes.GenerateRecoveryCodes()">@Localizer[btnLabelKey]</Button>
                            </Content>
                        </AccordionItem>
                    </Accordion>
                </Content>
            </Tab>
        </Tabs>
    </div>
</div>