@using SchulCloud.Web.Components.Bootstrap.Validation

@inherits FloatingTextInput

<InputGroup Class="@ClassNames" Style="@StyleNames">
    <div class="@($"{ExtendedBootstrapClass.FormFloating} {FieldCssClass}".Trim())">
        @{
            string inputType = IsPasswordVisible ? "text" : "password";
        }
        <input type="@inputType" class="@($"{BootstrapClass.FormControl} rounded-end-0 {FieldCssClass}")" id="@Id" value="@Value" @onchange="OnChangeAsync" @attributes="AdditionalAttributes" />
        <label for="@Id">@FloatingLabel</label>
    </div>

    <InputGroupText Class="p-0">
        <Button Class="d-flex align-items-center" @onclick="ChangePasswordVisibility_Click">
            @{
                string iconName = IsPasswordVisible ? "visibility" : "visibility_off";
            }
            <FontsIcon Name="@iconName" />
        </Button>
    </InputGroupText>

    @if (ShowValidationFeedback)
    {
        <BsValidationFeedback Identifier="_fieldIdentifier" />
    }
</InputGroup>