@inherits LayoutComponentBase
@layout Layouts.MainLayout

<AppPageTitle Title="@Localizer["title"]" />

<MudText Class="mb-2" Typo="Typo.h4" Align="Align.Center">@Localizer["tabHeader"]</MudText>

<MudPaper Class="mb-5" Elevation="1">
    <div class="securityNavbar">
        <MudStack AlignItems="AlignItems.Center" Row>
            <MudNavLink Href="@Routes.SecurityOverview()" Match="NavLinkMatch.All" ActiveClass="border-solid border-b-2 mud-border-primary mud-primary-text">
                <MudText Align="Align.Center">@Localizer["tabOverview"]</MudText>
            </MudNavLink>

            @if (UserManager.SupportsUserCredentials && (UserManager.SupportsUserPasskeys || UserManager.SupportsUserTwoFactorSecurityKeys))
            {
                <MudNavLink Href="@Routes.SecurityKeys()" ActiveClass="border-solid border-b-2 mud-border-primary mud-primary-text">
                    <MudText Align="Align.Center">@Localizer["tabSecurityKeys"]</MudText>
                </MudNavLink>
            }

            @if (UserManager.SupportsUserApiKeys && ApiKeyOptionsAccessor.Value.MaxKeysPerUser != 0)
            {
                <MudNavLink Href="@Routes.ApiKeys()" ActiveClass="border-solid border-b-2 mud-border-primary mud-primary-text">
                    <MudText Align="Align.Center">@Localizer["tabApiKeys"]</MudText>
                </MudNavLink>
            }

            @if (UserManager.SupportsUserLoginAttempts)
            {
                <MudNavLink Href="@Routes.LoginAttempts()" ActiveClass="border-solid border-b-2 mud-border-primary mud-primary-text">
                    <MudText Align="Align.Center">@Localizer["tabLogInAttempts"]</MudText>
                </MudNavLink>
            }
        </MudStack>
    </div>
</MudPaper>

@Body