<AppPageTitle Title="@Localizer["title"]" />

<MudPaper Class="px-3 py-3">
    <MudText Typo="Typo.h6" Align="Align.Center">@Localizer["title"]</MudText>

    <MudGrid Class="mt-2">
        <MudItem Class="d-flex flex-column justify-center align-center" xs="12" md="6">
            @if (_authenticatorData is not null)
            {
                @((MarkupString)_authenticatorData.Value.SvgRenderedQrCode)
                <b class="mt-2">@_authenticatorData.Value.Base32Secret</b>
            }
            else
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="294px" Height="294px" />
                <MudSkeleton Class="mt-2" Width="320px" />
            }
        </MudItem>
        <MudItem xs="12" md="6">
            <ol class="ml-5">
                <li class="mb-2">@Localizer["enableGuide_0"]</li>
                <li class="mb-2">@Localizer["enableGuide_1"]</li>
                <li>@Localizer["enableGuide_2", 6]</li>     @* Retrieve it in future from options. *@
            </ol>
        </MudItem>
        <MudItem xs="12">
            <MudForm Class="mx-5" @ref="_form" Model="_model" IsValidChanged="Form_IsValidChanged">
                <MudTextField @bind-Value="_model.Code" Label="@Localizer["form_Code"]" RequiredError="@Localizer["form_NotEmpty"]" Required
                              Validation="@((string value) => Form_ValidateCodeAsync(value))" />

                <MudButton Class="mt-3" Color="Color.Primary" OnClick="_form.Validate">@Localizer["form_SubmitBtn"]</MudButton>
            </MudForm>
        </MudItem>
    </MudGrid>
</MudPaper>