<SchulCloudPageTitle Title="@Localizer["title"]"/>

<div class="container py-5 my-5">
    <div class="row">
        <div class="col" />
        <div class="col-6">
            @if (UserId is null || _user is null)
            {
                <p>@Localizer["userFormText"]</p>

                <EditForm Model="_model">
                    <BsFieldCssProvider ShowValidState="false" />

                    <EditFormValidator For="() => _model.User" ValidateAsync="ValidateUserAsync" />
                    <FloatingTextInput @bind-Value="_model.User" FloatingLabel="@Localizer["userFormUserPlaceholder"]" Placeholder="exampleUser" autocomplete="username" required />

                    <Button Class="w-100 mt-2" Color="ButtonColor.Primary" Type="ButtonType.Submit">@Localizer["userFormSubmit"]</Button>
                </EditForm>
            }
            else if (ChangeToken is null)
            {
                <div class="text-center">
                    <p>@Localizer["sendResetText"]</p>
                    <Button Class="" Color="ButtonColor.Primary" @onclick="SendResetCode_ClickAsync">@Localizer["sendResetBtn"]</Button>
                </div>
            }
            else
            {
                <EditForm Model="_model" OnValidSubmit="ResetPasswordAsync">
                    <BsFieldCssProvider />

                    <EditFormValidator For="() => _model.NewPassword" ValidateAsync="ValidateNewPasswordAsync" />
                    <FloatingPasswordInput Class="mb-3" @bind-Value="_model.NewPassword" FloatingLabel="@Localizer["resetFormNewPasswordPlaceholder"]" Placeholder="newPassword" autocomplete="new-password" required />

                    <EditFormValidator For="() => _model.ConfirmedPassword" ValidateAsync="ValidateConfirmedPasswordAsync" />
                    <FloatingPasswordInput @bind-Value="_model.ConfirmedPassword" FloatingLabel="@Localizer["resetFormConfirmedPasswordPlaceholder"]" Placeholder="newPassword" autocomplete="off" required />

                    <Button Class="w-100 mt-2" Color="ButtonColor.Primary" Type="ButtonType.Submit">@Localizer["resetFormSubmit"]</Button>
                </EditForm>
            }
        </div>
        <div class="col" />
    </div>
</div>