@using Humanizer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.DataProtection
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using SchulCloud.Database.Models
@using SchulCloud.Server.Enums
@using SchulCloud.Server.Models
@using SchulCloud.Server.Utils.Interfaces
@using System.Security.Claims

@implements IDisposable

@page "/auth/signIn"
@rendermode InteractiveServer

@attribute [AllowAnonymous]

@inject IStringLocalizer<SignIn> Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject NavigationManager NavigationManager
@inject PersistentComponentState ComponentState

<SchulCloudPageTitle Title="@Localizer["title"]" />

<HeadContent>
    <style>
        input.is-invalid {
            background-image: none !important;
        }

        div.input-group.pwd-group {
            margin-top: -1px;
        }

        input[name="Model.User"].is-invalid {
            border-bottom-color: var(--bs-border-color) !important;
        }

        input[name="Model.Password"].is-invalid {
            border-top-color: var(--bs-border-color) !important;
            border-right-color: var(--bs-border-color) !important;
        }

        .pwd-group span {
            border-top-right-radius: 0 !important;
        }

        .pwd-group.invalid span {
            border-right-color: var(--bs-form-invalid-border-color) !important;
            border-bottom-color: var(--bs-form-invalid-border-color) !important;
        }
    </style>
</HeadContent>

<div class="container py-5 my-5">
    <div class="row mb-2">
        <div class="col" />
        <div class="col-6">
            <h3>@Localizer["formHeader"]</h3>
        </div>
        <div class="col" />
    </div>
    <div class="row">
        <div class="col" />
        <div class="col-6">
            <form @formname="signIn" method="post" action="@NavigationManager.Uri">
                <input type="hidden" name="_handler" value="signIn" />     @* I have to place this hidden field by manual because in interactive SSR Blazor doesn't place it by its own. *@
                <AntiforgeryToken />

                <FloatingTextInput Class="rounded-bottom-0" @bind-Value="Model.User" @bind-Value:after="Input_Changed" name="@($"{nameof(Model)}.{nameof(Model.User)}")"
                                   FloatingLabel="@Localizer["formUserPlaceholder"]" Placeholder="exampleUser" IsInvalid="IsInvalid()" autocomplete="user" required />

                <FloatingPasswordInput OuterClass="@("pwd-group" + InvalidClass())" Class="rounded-top-0" @bind-Value="Model.Password" @bind-Value:after="Input_Changed" name="@($"{nameof(Model)}.{nameof(Model.Password)}")"
                                       FloatingLabel="@Localizer["formPasswordPlaceholder"]" Placeholder="password" IsInvalid="IsInvalid()" autocomplete="off" required />

                @if (_errorMessage is not null)
                {
                    <div class="invalid-feedback d-block">@_errorMessage</div>
                }

                <div class="form-check my-3">
                    <InputCheckbox name="@($"{nameof(Model)}.{nameof(Model.RememberMe)}")" class="form-check-input" @bind-Value="Model.RememberMe" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">@Localizer["formPersistent"]</label>
                </div>

                <Button Class="w-100" Color="ButtonColor.Primary" Type="ButtonType.Submit">@Localizer["formSubmit"]</Button>
            </form>
        </div>
        <div class="col" />
    </div>
</div>

@code {
    private bool _passwordVisible = false;

    private string? _errorMessage;

    private PersistingComponentStateSubscription? _persistingSubscription;

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = default!;

    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    public SignInModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // Make sure that every auth cookie is cleaned up if present.
        AuthenticationState state = await AuthenticationState.ConfigureAwait(false);
        if (SignInManager.IsSignedIn(state.User))
        {
            if (HttpContext is null)
            {
                NavigationManager.Refresh(forceReload: true);
                return;
            }

            await SignInManager.SignOutAsync().ConfigureAwait(false);
        }

        string? method = HttpContext?.Request.Method;
        if (HttpContext is not null && HttpMethods.IsPost(method!))
        {
            await SignInAsync().ConfigureAwait(false);

            _persistingSubscription = ComponentState.RegisterOnPersisting(() =>
            {
                ComponentState.PersistAsJson(nameof(Model), Model);
                ComponentState.PersistAsJson(nameof(_errorMessage), _errorMessage);

                return Task.CompletedTask;
            });
        }
        else
        {
            if (ComponentState.TryTakeFromJson(nameof(Model), out SignInModel? persistingModel))
            {
                Model = persistingModel!;
            }
            ComponentState.TryTakeFromJson(nameof(_errorMessage), out _errorMessage);
        }
    }

    private async Task SignInAsync()
    {
        User? user = await UserManager.FindByEmailAsync(Model.User).ConfigureAwait(false);
        user ??= await UserManager.FindByNameAsync(Model.User).ConfigureAwait(false);

        if (user is null)
        {
            _errorMessage = Localizer["signIn_" + SignInResult.Failed];
            return;
        }

        SignInResult result = await SignInManager.PasswordSignInAsync(user, Model.Password, Model.RememberMe, lockoutOnFailure: true).ConfigureAwait(false);

        switch (result)
        {
            case { Succeeded: true }:
                Uri returnUri = NavigationManager.ToAbsoluteUri(ReturnUrl);
                NavigationManager.NavigateTo(returnUri.PathAndQuery);     // prevent a redirect to another domain by using only the path and query part.
                break;
            case { RequiresTwoFactor: true }:
                throw new NotImplementedException("Mfa is currently not implemented.");
                break;
            case { IsLockedOut: true }:
                DateTimeOffset lockOutEnd = (await UserManager.GetLockoutEndDateAsync(user).ConfigureAwait(false)).Value;

                _errorMessage = lockOutEnd < DateTimeOffset.MaxValue     // MaxValue means that the user is locked without an end. It has to unlocked manually.
                    ? Localizer["signIn_LockedOut", lockOutEnd.Humanize()]
                    : Localizer["signIn_LockedOut_NotSpecified"];
                break;
            default:
                _errorMessage = Localizer["signIn_" + result];
                break;
        }
    }

    private void Input_Changed()
    {
        _errorMessage = null;
    }

    private void PasswordVisible_Click()
    {
        _passwordVisible = !_passwordVisible;
    }

    private bool IsInvalid() => _errorMessage is not null;

    private string InvalidClass() => IsInvalid() ? " invalid" : string.Empty;

    void IDisposable.Dispose()
    {
        _persistingSubscription?.Dispose();
    }
}
