@inherits InputBase<bool>

<div class="@ClassNames" style="@StyleNames">
    <input type="checkbox" class="@($"{BootstrapClass.FormCheckInput} {FieldCssClass}".Trim())" id="@Id" value="@Value.ToString()" @onchange="OnChangeAsync" @attributes="AdditionalAttributes" />
    
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="@ExtendedBootstrapClass.FormCheckLabel" for="@Id">@Label</label>
    }

    @if (EditContext is not null)
    {
        <BsValidationFeedback Identifier="_fieldIdentifier" />
    }
</div>