@inherits FloatingInputBase<string>

<div class="@ClassNames" style="@StyleNames">
    <input type="text" class="@($"{BootstrapClass.FormControl} {FieldCssClass}".Trim())" id="@Id" value="@Value" @onchange="OnChangeAsync" @attributes="AdditionalAttributes" />
    <label for="@Id">@FloatingLabel</label>

    @if (ShowValidationFeedback)
    {
        <BsValidationFeedback Identifier="_fieldIdentifier" />
    }
</div>

@code {
    protected async Task OnChangeAsync(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? string.Empty;
        await ValueChangedAsync();
    }
}
