@using SchulCloud.Web.Enums

<AppPageTitle Title="@Localizer["title"]" />

<MudPaper Class="mt-15 px-3 py-3">
    <MudText Typo="Typo.h4" Align="Align.Center">@Localizer["title"]</MudText>

    <MudText Class="my-2" Typo="Typo.body1" Align="Align.Center">@Localizer["desc"]</MudText>
    <MudText Class="mb-3" Typo="Typo.body2" Align="Align.Center">@Localizer[$"desc_{Model.Method}"]</MudText>

    <form @ref="_formRef" @formname="@_formName" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="_handler" value="@_formName" />     @* I have to place this hidden field by manual because in interactive rendering Blazor doesn't place it by its own. *@
        <input type="hidden" name="@($"{nameof(Model)}.{nameof(Model.Method)}")" value="@Model.Method" />

        @if (Model.Method != TwoFactorMethod.SecurityKey)
        {
            Adornment sendMailAdornment = Model.Method == TwoFactorMethod.Email
                ? Adornment.End
                : Adornment.None;

            <MudTextField @bind-Value="@Model.Code" @bind-Value:after="Input_Changed" name="@($"{nameof(Model)}.{nameof(Model.Code)}")"
                          Label="@Localizer[$"form_{Model.Method}Code"]" Error="IsInvalid" RequiredError="@Localizer["form_NotEmpty"]" Required autocomplete="off"
                          Adornment="sendMailAdornment" AdornmentIcon="@MaterialSymbols.Outlined.Send" OnAdornmentClick="SendEmailAuthenticationCode_ClickAsync">
            </MudTextField>

            @if (IsInvalid)
            {
                <MudText Class="mt-2" Typo="Typo.subtitle1" Color="Color.Error">@_errorMessage</MudText>
            }
        }
        else
        {
            <input type="hidden" name="@($"{nameof(Model)}.{nameof(Model.AuthenticatorDataAccessKey)}")" value="@Model.AuthenticatorDataAccessKey" />
        }

        @if (Model.Method != TwoFactorMethod.Recovery)
        {
            <MudCheckBox Class="mt-2" Value="Model.ShouldRememberClient" Label="@Localizer["form_RememberClient"]" name="@($"{nameof(Model)}.{nameof(Model.RememberClient)}")" />
        }

        <MudSelect Class="mb-3 mt-4" @bind-Value="Model.Method" Label="@Localizer["methods"]" Variant="Variant.Outlined">
            @{
                HashSet<TwoFactorMethod> methods = new(Enum.GetValues<TwoFactorMethod>());
                if (!UserManager.SupportsUserTwoFactorEmail || !_mfaEmailEnabled)
                {
                    methods.Remove(TwoFactorMethod.Email);
                }
                if (!UserManager.SupportsUserTwoFactorSecurityKeys || !_mfaSecurityKeyEnabled)
                {
                    methods.Remove(TwoFactorMethod.SecurityKey);
                }
                if (!UserManager.SupportsUserTwoFactorRecoveryCodes)
                {
                    methods.Remove(TwoFactorMethod.Recovery);
                }
            }
            @foreach (TwoFactorMethod method in methods)
            {
                string iconName = method switch
                {
                    TwoFactorMethod.Authenticator => MaterialSymbols.Outlined.QrCodeScanner,
                    TwoFactorMethod.Email => MaterialSymbols.Outlined.Mail,
                    TwoFactorMethod.SecurityKey => MaterialSymbols.Outlined.Passkey,
                    TwoFactorMethod.Recovery => MaterialSymbols.Outlined.Pin,
                    _ => string.Empty
                };

                <MudSelectItem Value="method">
                    <MudStack Spacing="1" Row>
                        <MudIcon Icon="@iconName" />
                        <MudText Class="ml-2" Inline>@Localizer[$"method_{method}"]</MudText>
                    </MudStack>
                </MudSelectItem>
            }
        </MudSelect>

        @if (Model.Method != TwoFactorMethod.SecurityKey)
        {
            <MudButton Color="Color.Tertiary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" FullWidth>@Localizer["form_SubmitBtn"]</MudButton>
        }
        else
        {
            <MudTooltip RootClass="mud-width-full" Text="@Localizer["webAuthn_NotSupported"]" Disabled="_webAuthnSupported">
                @{
                    string endIcon = !_webAuthnSupported
                        ? MaterialSymbols.Outlined.Warning
                        : string.Empty;
                }
                <MudButton Color="Color.Primary" OnClick="SecurityKeyAuthentication_ClickAsync" Disabled="!_webAuthnSupported"
                           EndIcon="@endIcon" Variant="Variant.Filled" FullWidth>
                    @Localizer["form_AuthenticateBtn"]
                </MudButton>
            </MudTooltip>
        }
    </form>
</MudPaper>