@using SchulCloud.Web.Constants
@using SchulCloud.Web.Enums

<SchulCloudPageTitle Title="@Localizer["title"]" />

<div class="container py-5 my-5">
    <div class="row text-center mb-2">
        <h3 class="mb-3">@Localizer["title"]</h3>
        <p>@Localizer["desc"]</p>
        <p>@Localizer["desc_" + Model.Method]</p>
    </div>
    <div class="row mt-3">
        <div class="col" />
        <div class="col-6">
            <form @formname="@_formName" class="d-flex flex-column" method="post" action="@Routes.Verify2fa(persistent: Persistent, returnUrl: ReturnUrl)">
                <input type="hidden" name="_handler" value="@_formName" />     @* I have to place this hidden field by manual because in interactive SSR Blazor doesn't place it by its own. *@
                <input type="hidden" name="@($"{nameof(Model)}.{nameof(Model.Method)}")" value="@Model.Method" />
                <AntiforgeryToken />
                
                <FloatingTextInput InnerClass="@IsInvalidInputClass" @bind-Value="@Model.Code" @bind-Value:after="Input_Changed" name="@($"{nameof(Model)}.{nameof(Model.Code)}")"
                                   FloatingLabel="@Localizer[$"form_{Model.Method}Code_Placeholder"]" Placeholder="code" autocomplete="off" required />

                @if (IsInvalid())
                {
                    <div class="@ExtendedBootstrapClass.InvalidFeedback d-block">@_errorMessage</div>
                }

                @if (Model.Method != MfaMethod.Recovery)
                {
                    <CheckBoxInput Class="mt-2" @bind-Value="Model.RememberClient" name="@($"{nameof(Model)}.{nameof(Model.RememberClient)}")" Label="@Localizer["form_Persistent"]" />
                }

                <Dropdown Class="mt-3" Color="DropdownColor.Secondary">
                    @{
                        string GetIconName(MfaMethod method) => method switch
                        {
                            MfaMethod.Authenticator => "qr_code_scanner",
                            MfaMethod.Recovery => "pin",
                            _ => throw new NotImplementedException()
                        };
                    }
                    <DropdownToggleButton Class="d-flex align-items-center">
                        <FontsIcon Name="@GetIconName(Model.Method)" />
                        <span class="ms-2">@Localizer["method_" + Model.Method]</span>
                    </DropdownToggleButton>

                    <DropdownMenu>
                        <DropdownHeader>@Localizer["methods"]</DropdownHeader>

                        @foreach (MfaMethod method in Enum.GetValues<MfaMethod>())
                        {
                            <DropdownItem Type="DropdownItemType.Button" Class="d-flex align-items-center" Active="Model.Method.Equals(method)" @onclick="() => Model.Method = method">
                                <FontsIcon Name="@GetIconName(method)" />
                                <span class="ms-2">@Localizer["method_" + method]</span>
                            </DropdownItem>
                        }
                    </DropdownMenu>
                </Dropdown>

                <Button Class="mt-2" Color="ButtonColor.Success" Type="ButtonType.Submit">@Localizer["form_Submit"]</Button>
            </form>
        </div>
        <div class="col" />
    </div>
</div>