@using SchulCloud.Identity.Models
@using Humanizer;

<AppPageTitle Title="@Localizer["title"]" />

<MudPaper Class="py-3 px-3">
    <MudText Typo="Typo.h6">@Localizer["title"]</MudText>
    <MudText Class="my-2" Typo="Typo.body1">@Localizer["desc"]</MudText>

    @if (ApiOptionsSnapshoot.Value.DocumentationLinks.Any())
    {
        <MudStack Row>
            <MudText>@Localizer["availableApis"]:</MudText>
            @foreach ((string name, Uri? url) in ApiOptionsSnapshoot.Value.DocumentationLinks)
            {
                if (url is not null)
                {
                    <MudLink Href="@url.ToString()" Target="_blank">@name</MudLink>
                }
                else
                {
                    <MudText>@name</MudText>
                }
            }
        </MudStack>
    }

    @{
        int maxKeysCount = ApiKeyOptions.Value.MaxKeysPerUser;
        bool newKeysAllowed = maxKeysCount != -1
            ? maxKeysCount > _apiKeys.Count()
            : true;
    }
    <MudTooltip Text="@Localizer["createKeyBtn_Disabled", maxKeysCount]" Disabled="newKeysAllowed">
        <MudButton Class="my-2" Color="Color.Primary" Href="@Routes.ApiKeyCreate()"
                   StartIcon="@MaterialSymbols.Outlined.Add" Disabled="@(!newKeysAllowed)">
            @Localizer["createKeyBtn"]
        </MudButton>
    </MudTooltip>

    <MudTable Class="py-3 px-3" Items="_apiKeys.OrderByDescending(key => key.Created)" Elevation="0">
        <HeaderContent>
            <MudTh>@Localizer["key_Name"]</MudTh>
            <MudTh>@Localizer["key_Notes"]</MudTh>
            <MudTh>@Localizer["key_Created"]</MudTh>
            <MudTh>@Localizer["key_Expires"]</MudTh>
            <MudTh>@Localizer["key_Action"]</MudTh>
        </HeaderContent>
        <RowTemplate Context="apiKey">
            <MudTd DataLabel="@Localizer["key_Name"]">@apiKey.Name</MudTd>
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudTd DataLabel="@Localizer["key_Notes"]">
                    <div class="notes-text"><TextTruncate>@apiKey.Notes</TextTruncate></div>
                </MudTd>
            </MudHidden>
            <MudTd DataLabel="@Localizer["key_Created"]">@apiKey.Created.ToLocalTime()</MudTd>
            <MudTd DataLabel="@Localizer["key_Expires"]">
                @if (apiKey.Expiration is not null)
                {
                    @apiKey.Expiration?.ToLocalTime()
                }
                else
                {
                    @(((DateTime?)null).Humanize())
                }
            </MudTd>
            <MudTd DataLabel="@Localizer["key_Action"]">
                <MudButton Color="Color.Primary" Href="@Routes.ApiKeyDetails(apiKey.Id)" Variant="Variant.Filled">
                    @Localizer["key_DetailsBtn"]
                </MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>