@using MyCSharp.HttpUserAgentParser;
@using SchulCloud.Store.Enums

<AppPageTitle Title="@Localizer["title"]" />

<MudTable @ref="_attemptTable" Class="px-3 py-3" Items="_attempts.OrderByDescending(attempt => attempt.DateTime)"
          Breakpoint="Breakpoint.Sm" CurrentPage="@(Page ?? 0)" RowsPerPage="15" >
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Localizer["loginAttempts"]</MudText>
        <MudSpacer />
        
        <MudButton Color="Color.Error" OnClick="RemoveAllAttempts_ClickAsync" Variant="Variant.Filled" Disabled="@(_attempts.Count() == 0)">
            <MudIcon Icon="@MaterialSymbols.Outlined.DeleteHistory" />

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
                <span class="ml-2">@Localizer["removeAllBtn"]</span>
            </MudHidden>
        </MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@Localizer["attempt_DateTime"]</MudTh>
        <MudTh>@Localizer["attempt_Result"]</MudTh>
        <MudTh>@Localizer["attempt_Method"]</MudTh>
        <MudTh>@Localizer["attempt_Device"]</MudTh>
        <MudTh>@Localizer["attempt_IpAddress"]</MudTh>
        <MudTh>@Localizer["attempt_Action"]</MudTh>
    </HeaderContent>
    <RowTemplate Context="attempt">
        <MudTd DataLabel="@Localizer["attempt_DateTime"]">@attempt.DateTime.ToLocalTime()</MudTd>
        <MudTd DataLabel="@Localizer["attempt_Result"]">
            <div class="d-flex align-center flex-nowrap">
                @switch (attempt.Result)
                {
                    case LoginAttemptResult.Succeeded:
                        <MudIcon Class="mr-2" Icon="@MaterialSymbols.Outlined.CheckCircle" Color="Color.Success" />
                        <MudText Typo="Typo.inherit" Color="Color.Success">@Localizer["result_Succeeded"]</MudText>
                        break;
                    case LoginAttemptResult.TwoFactorRequired:
                        <MudIcon Class="mr-2" Icon="@MaterialSymbols.Outlined.Warning" Color="Color.Warning" />
                        <MudText Typo="Typo.inherit" Color="Color.Warning">@Localizer["result_TwoFactorRequired"]</MudText>
                        break;
                    default:
                        <MudIcon Class="mr-2" Icon="@MaterialSymbols.Outlined.Error" Color="Color.Error" />
                        <MudText Typo="Typo.inherit" Color="Color.Error">@Localizer["result_Failed"]</MudText>
                        break;
                }
            </div>
        </MudTd>
        <MudTd DataLabel="@Localizer["attempt_Method"]">@Localizer[$"loginMethod_{attempt.Method}"]</MudTd>
        <MudTd DataLabel="@Localizer["attempt_Device"]">
            @if (_userAgents.TryGetValue(attempt.Id, out HttpUserAgentInformation userAgent))
            {
                if (userAgent.Platform is not null)
                {
                    @Localizer["deviceOn", userAgent.Name ?? string.Empty, userAgent.Platform!.Value.Name]
                }
                else
                {
                    @userAgent.Name
                }
            }
            else
            {
                @Localizer["deviceUnknown"]
            }
        </MudTd>
        <MudTd DataLabel="@Localizer["attempt_IpAddress"]">@attempt.IpAddress.ToString()</MudTd>
        <MudTd DataLabel="@Localizer["attempt_Action"]">
            <MudButton Color="Color.Primary" Href="@Routes.LoginAttemptDetails(attempt.Id, originPage: _attemptTable.CurrentPage)" Variant="Variant.Filled">
                @Localizer["attempt_DetailsBtn"]
            </MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager HideRowsPerPage />
    </PagerContent>
</MudTable>